@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
:root {
	--font-Lobster: 'Lobster';
	--font-Noto-Sans-KR: 'Noto Sans KR';
	--font-Montserrat-Italic: 'Montserrat';
}
